
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Table</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">

    <!-- table js -->
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"> 
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">

</head>

<body>    

    <!-- 내용넣기 -->

        <!--리뷰 확인 페이지 -->
     <div style="background :#6777ef; padding : 25px; margin-top : 5px;">
        <section class="section">       
              <div style="background :white; padding : 25px; margin-top : 30px;">                
                <div>
                     <h3 style="color : black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">네이버 품절제품</font></font></h3>                
                </div>

                  <div class="card-body">
             
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col" style="width: 50px;">No</th>
                          <th scope="col" style="width: 100px;">품절여부</th>
                          <th scope="col" style="width: 100px;">이미지</th>
                          <th scope="col" style="width: 100px;">제품명</th>
                          <th scope="col" style="width: 100px;">등록날짜</th>                          
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <th scope="row">1</th> 
                          <td>품절됨</td>
                          <td>[이미지]</td>
                          <td>제품명</td>
                          <td>2021-10-14</td>
                        </tr>

                        <tr>
                            <th scope="row">1</th> 
                            <td>품절됨</td>
                            <td>[이미지]</td>
                            <td>제품명</td>
                            <td>2021-10-14</td>
                          </tr>

                        <tr>
                            <th scope="row">1</th> 
                            <td>품절됨</td>
                            <td>[이미지]</td>
                            <td>제품명</td>
                            <td>2021-10-14</td>
                        </tr>

                        <tr>
                            <th scope="row">1</th> 
                            <td>품절됨</td>
                            <td>[이미지]</td>
                            <td>제품명</td>
                            <td>2021-10-14</td>
                        </tr>

                        <tr>
                            <th scope="row">1</th> 
                            <td>품절됨</td>
                            <td>[이미지]</td>
                            <td>제품명</td>
                            <td>2021-10-14</td>
                        </tr>

                      </tbody>
                    </table>                    
                  </div>
                </div>
                  <div style="text-align: center;">
                       <a href="javascript:self.close();" class="btn btn-icon icon-left"style="color:#dbe2e9; margin-top : 5px;"><i class="fas fa-times"></i> 창닫기 </a>
                  </div>
             </div>

        </section>

       </div>  





</body>
</html>