[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Werkzeug = "==1.0.1"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.2"
django-debug-toolbar = ">=3.2.1"
django-extensions = ">=3.1.3"
Django = ">=3.2.4"
Pillow = ">=8.2.0"
psycopg2-binary = "==2.8.6"
django-task = "==2.0.0"
gunicorn = "==20.1.0"
whitenoise = "==5.2.0"
scrapy = ">=2.5.0"
scrapy-djangoitem = "==1.1.1"
coverage = "==4.3.4"
mock = ">=1.0.1"
mysqlclient = "*"
pymysql = "*"
"mysql.connector" = "*"
openpyxl = "*"
bs4 = "*"
django-tqdm = "*"
selenium = "*"
pandas = "*"
requests = "*"
chromedriver-autoinstaller = "*"
fake-useragent = "*"
sqlalchemy = "*"
webdriver-manager = "*"
pytz = "*"
